

<!-- TradingView Widget BEGIN -->
<!DOCTYPE html>
<html lang="en">

<style>

</style>
    <meta charset="UTF-8">
  <head>

<meta charset="UTF-8">
<!--      <meta http-equiv="refresh" content="19" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename= '/css/style.css') }}">



       <title> {{price}}~CRYPTO PLANET</title>
  </head>



<body>

<div style="border: 1px solid #F0F0F0;height:auto;width:auto">
    <marquee  direction="left" scrolldelay="80"> <b> <p><img src="/static/btc.jpg"  width="32" height="32" display="inline-block">{{info}}&nbsp;<img src="/static/eth.jpg"  width="32" height="32" display="inline-block">{{info2}}&nbsp;<img src="/static/usdt.jpg"  width="32" height="32" display="inline-block">{{info3}}&nbsp;<img src="/static/bnb.jpg"  width="32" height="32" display="inline-block">{{info4}}</p></b></marquee>

    </div>


<div style="background-color:whit;width:50%;height:20%;float:left;border: 2px solid #F0F0F0"><a href="http://127.0.0.1:5000/" style="color: inherit;text-decoration: none;font-size: 0.875em;font-family: Lucida Console"><img src="/static/1.jpg" alt="Trulli" width="300" height="130"></a></div>

<div style="background-color:whit;width:49%;height:135px;float:right;border: 2px solid #F0F0F0;display:inline-block">
    <img src="/static/eth.jpg"  width="32" height="32"><h4>Send Anonymouse Transaction in ERC-20 Network</h4>
    <div id="here" style="display:inline-block;"><h5></h5>


</div>
</div>


<div style="border: 1px solid #F0F0F0;height:auto;width:auto"> <p><br></p>
   <p><br></p>
    <p><br></p>
    <p><br></p>
<H3>PLEASE NOTE</H3> <P>To sent transaction on Ethereum Network there is 3 way to do this   </P>
<li>You want to send with your own wallet , in this case you should have your Private Key , Your receiver ETH address , and for sure amount
<li>You want to send Anonymous , in that case u just need to know you receiver address ,
<li>You want to make new wallet make your transaction.
<li>There is no limit on that .
<li>Further info and update on this page is coming .
        <center> <div style="border: 7px solid Gray;height:auto;width:30%">
          <center><form action="/transactions/" method="POST">

    <p>Private Key</p>
    <input type="text" name="privateKey">
    <p>Receiver address ERC20</p>
    <input type="text" name="receiver address">
    <p>Public key</p>
    <input type="text" name="publicKey">
    <p>Amount</p>
    <input type="text" name="amount">
    <p>
        <p>Gas price ( Gwei) </p>
    <input type="text" name="amount">
    <p>
        <input  type="submit">
    </p>
              <p>This is your TxHash {{trxHash}} </p>

          </form></center></div></center>
    <p><br></p>
   <p><br></p>
    <p><br></p>
    <p><br></p>

    <p><br></p>


</div>

<!--      <a href="http://127.0.0.1:5000/test2">Blokchains</a>-->


     <table style="border: 0px solid 	#787878;width:100%;border-radius: 10px;margin-top:  40px;">
  <tr>
    <th style="width:30%;border: 0px solid 	#787878;border-radius: 10px;box-shadow: 5px 10px 5px plum;"><img src="/static/Cryptoplanet.jpg"  width="210" height="91" display="inline-block"> </th>
    <th style="width:auto;border: 0px solid 	#787878;border-radius: 10px"><table style="border: 0px solid 	#787878;width:100%;border-radius: 10px;margin-top:  40px;">
  <tr>
    <td style="border: 0px solid 	#787878">Contact</td>
    <td style="border: 0px solid 	#787878">Our API</td>
    <td style="border: 0px solid 	#787878">Social Media</td>
    <td style="border: 0px solid 	#787878">Support</td>
    <td style="border: 0px solid 	#787878">Company</td>
  </tr>
  <tr >
    <td style="border: 0px solid 	#787878;font-family:'Courier New';font-family:'Courier New'">Contact Form</td>
    <td style="border: 0px solid 	#787878"></td>
    <td style="border: 0px solid 	#787878"></td>
    <td style="border: 0px solid 	#787878"></td>
    <td style="border: 0px solid 	#787878"></td>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/email/" style="color: Gray;text-decoration: none;font-size: 0.875em;font-family: Lucida Console">Email</a></td>
    <td style="border: 0px solid 	#787878"></td>
    <td style="border: 0px solid 	#787878"></td>
    <td style="border: 0px solid 	#787878"></td>
    <td style="border: 0px solid 	#787878"></td>
  </tr>
  <tr>
     <td style="border: 0px solid 	#787878;font-family:'Courier New'">Telephone</td>
    <td style="border: 0px solid 	#787878"></td>
    <td style="border: 0px solid 	#787878"></td>
    <td style="border: 0px solid 	#787878"></td>
    <td style="border: 0px solid 	#787878"></td>
  </tr>

</table></th>

  </tr>
  <tr style="width:auto;border: 1px solid 	#787878;border-radius: 10px">
<!--      <td style="width:auto;border: 1px solid 	#787878;border-radius: 10px"><br></td>-->


  </tr>


</table>

</body>
</html>





<!--&lt;!&ndash; TradingView Widget BEGIN &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<style>-->

<!--</style>-->
<!--    <meta charset="UTF-8">-->
<!--  <head>-->

<!--<meta charset="UTF-8">-->
<!--      <meta http-equiv="refresh" content="19" />-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename= '/css/style.css') }}">-->



<!--       <title> {{price}}~CRYPTO PLANET</title>-->
<!--  </head>-->



<!--<body>-->

<!--<div style="border: 1px solid #F0F0F0;height:auto;width:auto">-->
<!--    <marquee  direction="left" scrolldelay="80"> <b> <p><img src="/static/btc.jpg"  width="32" height="32" display="inline-block">{{info}}&nbsp;<img src="/static/eth.jpg"  width="32" height="32" display="inline-block">{{info2}}&nbsp;<img src="/static/usdt.jpg"  width="32" height="32" display="inline-block">{{info3}}&nbsp;<img src="/static/bnb.jpg"  width="32" height="32" display="inline-block">{{info4}}</p></b></marquee>-->

<!--    </div>-->


<!--<div style="background-color:whit;width:50%;height:20%;float:left;border: 2px solid #F0F0F0"><img src="/static/1.jpg" alt="Trulli" width="300" height="130"></div>-->

<!--<div style="background-color:whit;width:49%;height:135px;float:right;border: 2px solid #F0F0F0;display:inline-block">-->
<!--    <img src="/static/eth.jpg"  width="32" height="32"> <h4>Send Anonymouse Transaction in ERC-20 Network</h4><br>-->

<!--</div>-->
<!--<p><br></p>-->
<!--<p><br></p>-->
<!--<p><br></p>-->
<!--<p><br></p>-->
<!--<p><br></p>-->

<!--<p><br></p>-->
<!--<H3>PLEASE NOTE</H3> <P>To sent transaction on Ethereum Network there is 3 way to do this   </P>-->
<!--<li>You want to send with your own wallet , in this case you should have your Private Key , Your receiver ETH address , and for sure amount-->
<!--<li>You want to send Anonymous , in that case u just need to know you receiver address ,-->
<!--<li>You want to make new wallet make your transaction.-->
<!--<li>There is no limit on that .-->
<!--<li>Further info and update on this page is coming .-->
<!--<p><br></p>-->
<!--<p><br></p>-->
<!--<p><br></p>-->





<!--     <table style="border: 0px solid 	#787878;width:100%;border-radius: 10px;margin-top:  40px;">-->
<!--  <tr>-->
<!--    <th style="width:30%;border: 0px solid 	#787878;border-radius: 10px;box-shadow: 5px 10px 5px plum;"><img src="/static/Cryptoplanet.jpg"  width="210" height="91" display="inline-block"> </th>-->
<!--    <th style="width:auto;border: 0px solid 	#787878;border-radius: 10px"><table style="border: 0px solid 	#787878;width:100%;border-radius: 10px;margin-top:  40px;">-->
<!--  <tr>-->
<!--    <td style="border: 0px solid 	#787878">Contact</td>-->
<!--    <td style="border: 0px solid 	#787878">Our API</td>-->
<!--    <td style="border: 0px solid 	#787878">Social Media</td>-->
<!--    <td style="border: 0px solid 	#787878">Support</td>-->
<!--    <td style="border: 0px solid 	#787878">Company</td>-->
<!--  </tr>-->
<!--  <tr >-->
<!--    <td style="border: 0px solid 	#787878;font-family:'Courier New';font-family:'Courier New'">Contact Form</td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td style="border: 0px solid 	#787878;font-family:'Courier New'">Email</td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--     <td style="border: 0px solid 	#787878;font-family:'Courier New'">Telephone</td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--    <td style="border: 0px solid 	#787878"></td>-->
<!--  </tr>-->

<!--</table></th>-->

<!--  </tr>-->
<!--  <tr style="width:auto;border: 1px solid 	#787878;border-radius: 10px">-->
<!--&lt;!&ndash;      <td style="width:auto;border: 1px solid 	#787878;border-radius: 10px"><br></td>&ndash;&gt;-->


<!--  </tr>-->


<!--</table>-->

<!--</body>-->
<!--</html>-->
<!--&lt;!&ndash; TradingView Widget END &ndash;&gt;-->











<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Senr your message</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<p>{{message}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<form action="/login/" method="POST">&ndash;&gt;-->

<!--&lt;!&ndash;    <p>Nade</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="username">&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Message</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="message">&ndash;&gt;-->

<!--&lt;!&ndash;    <p>&ndash;&gt;-->
<!--&lt;!&ndash;        <input  type="submit">&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->



<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->